In [1]:
import numpy as np
import pandas as pd

In [4]:
fake = pd.read_csv('D:\IBM\\Fake.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_14124\2081742347.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv('D:\IBM\\Fake.csv')

In [5]:
fake

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23499,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
fake.isnull()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23497,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23498,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23499,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23500,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23501,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [11]:
fake.head

<bound method NDFrame.head of                                                    title  \
22313  x trafficking   including at least two such ex...
23104  x trafficking   including at least two such ex...

                                       text  \
22313   Democratic Congressman Barney Frank
23104   Democratic Congressman Barney Frank

                                                 subject  \
22313   decided not to seek re-election. While much o...
23104   decided not to seek re-election. While much o...

                                                    date  \
22313   there was virtually no mention of his involve...
23104   there was virtually no mention of his involve...

                                              Unnamed: 4  \
22313   it was discovered that Frank s then boyfriend...
23104   it was discovered that Frank s then boyfriend...

                                              Unnamed: 5      Unnamed: 6  \
22313   Barney Frank was fully aware of the operation...   Stephen Gobie
23104   Barney Frank was fully aware of the operation...   Stephen Gobie

                                            Unnamed: 7  \
22313   whom Frank had once hired as a male prostitute
23104   whom Frank had once hired as a male prostitute

                                              Unnamed: 8  \
22313   was running a male-brothel out of the Congres...
23104   was running a male-brothel out of the Congres...

                                              Unnamed: 9  ...  \
22313   but he did use the power of his office to  fi...  ...
23104   but he did use the power of his office to  fi...  ...

                                            Unnamed: 162  \
22313   is that it would be very easy for an agent pr...
23104   is that it would be very easy for an agent pr...

                                            Unnamed: 163  \
22313   and it s certain that the powers that be will...
23104   and it s certain that the powers that be will...

                                            Unnamed: 164  \
22313   it s important to separate the fallout from t...
23104   it s important to separate the fallout from t...

                                            Unnamed: 165  \
22313   as those in mainstream media such as The New ...
23104   as those in mainstream media such as The New ...

                                            Unnamed: 166  \
22313   The Washington Post and the self-anointed  fa...
23104   The Washington Post and the self-anointed  fa...

                                            Unnamed: 167         Unnamed: 168  \
22313   seem to have propped up this pizzeria conspir...   but for the moment
23104   seem to have propped up this pizzeria conspir...   but for the moment

                                            Unnamed: 169 Unnamed: 170  \
22313   it seems to have collapsed under the weight o...      US_News
23104   it seems to have collapsed under the weight o...  Middle-east

            Unnamed: 171
22313  December 28, 2016
23104  December 28, 2016

[2 rows x 172 columns]>

In [12]:
fake.tail

<bound method NDFrame.tail of                                                    title  \
22313  x trafficking   including at least two such ex...
23104  x trafficking   including at least two such ex...

                                       text  \
22313   Democratic Congressman Barney Frank
23104   Democratic Congressman Barney Frank

                                                 subject  \
22313   decided not to seek re-election. While much o...
23104   decided not to seek re-election. While much o...

                                                    date  \
22313   there was virtually no mention of his involve...
23104   there was virtually no mention of his involve...

                                              Unnamed: 4  \
22313   it was discovered that Frank s then boyfriend...
23104   it was discovered that Frank s then boyfriend...

                                              Unnamed: 5      Unnamed: 6  \
22313   Barney Frank was fully aware of the operation...   Stephen Gobie
23104   Barney Frank was fully aware of the operation...   Stephen Gobie

                                            Unnamed: 7  \
22313   whom Frank had once hired as a male prostitute
23104   whom Frank had once hired as a male prostitute

                                              Unnamed: 8  \
22313   was running a male-brothel out of the Congres...
23104   was running a male-brothel out of the Congres...

                                              Unnamed: 9  ...  \
22313   but he did use the power of his office to  fi...  ...
23104   but he did use the power of his office to  fi...  ...

                                            Unnamed: 162  \
22313   is that it would be very easy for an agent pr...
23104   is that it would be very easy for an agent pr...

                                            Unnamed: 163  \
22313   and it s certain that the powers that be will...
23104   and it s certain that the powers that be will...

                                            Unnamed: 164  \
22313   it s important to separate the fallout from t...
23104   it s important to separate the fallout from t...

                                            Unnamed: 165  \
22313   as those in mainstream media such as The New ...
23104   as those in mainstream media such as The New ...

                                            Unnamed: 166  \
22313   The Washington Post and the self-anointed  fa...
23104   The Washington Post and the self-anointed  fa...

                                            Unnamed: 167         Unnamed: 168  \
22313   seem to have propped up this pizzeria conspir...   but for the moment
23104   seem to have propped up this pizzeria conspir...   but for the moment

                                            Unnamed: 169 Unnamed: 170  \
22313   it seems to have collapsed under the weight o...      US_News
23104   it seems to have collapsed under the weight o...  Middle-east

            Unnamed: 171
22313  December 28, 2016
23104  December 28, 2016

[2 rows x 172 columns]>

In [14]:
fake.isnull().sum()

title           0
text            0
subject         0
date            0
Unnamed: 4      0
               ..
Unnamed: 167    0
Unnamed: 168    0
Unnamed: 169    0
Unnamed: 170    0
Unnamed: 171    0
Length: 172, dtype: int64

In [15]:
fake = fake.fillna(' ')

In [22]:
import nltk

from nltk.tokenize import word_tokenize

import warnings
warnings.filterwarnings('ignore')
fake=pd.read_csv('D:\IBM\\Fake.csv')
print(fake.head())
print("Checking Null Values:")
print(fake.isnull().sum())

print(fake.info())


nltk.download('punkt')
output = word_tokenize(text)

print(output)

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News

                date Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0  December 31, 2017        NaN        NaN        NaN        NaN        NaN
1  December 31, 2017        NaN        NaN        NaN        NaN        NaN
2  December 30, 2017        NaN        NaN        NaN        NaN        NaN
3  December 29, 2017        NaN        NaN        NaN        NaN        NaN
4  December 25, 2017        NaN        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 162 Unnamed: 163 Unnamed: 164 Unnamed: 165  \
0        NaN  ...          NaN          NaN          NaN          NaN
1        NaN  ...          NaN          NaN          NaN          NaN
2        NaN  ...          NaN          NaN          NaN          NaN
3        NaN  ...          NaN          NaN          NaN          NaN
4        NaN  ...          NaN          NaN          NaN          NaN

  Unnamed: 166 Unnamed: 167 Unnamed: 168 Unnamed: 169 Unnamed: 170  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 171
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 172 columns]
Checking Null Values:
title               0
text                0
subject            21
date               21
Unnamed: 4      23481
                ...
Unnamed: 167    23500
Unnamed: 168    23500
Unnamed: 169    23500
Unnamed: 170    23500
Unnamed: 171    23500
Length: 172, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23502 entries, 0 to 23501
Columns: 172 entries, title to Unnamed: 171
dtypes: object(172)
memory usage: 30.8+ MB
None
['Hello', 'everyone', '.']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [23]:
fake.isnull()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23497,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23498,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23499,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23500,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23501,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [24]:
fake.dropna()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
22313,x trafficking including at least two such ex...,Democratic Congressman Barney Frank,decided not to seek re-election. While much o...,there was virtually no mention of his involve...,it was discovered that Frank s then boyfriend...,Barney Frank was fully aware of the operation...,Stephen Gobie,whom Frank had once hired as a male prostitute,was running a male-brothel out of the Congres...,but he did use the power of his office to fi...,...,is that it would be very easy for an agent pr...,and it s certain that the powers that be will...,it s important to separate the fallout from t...,as those in mainstream media such as The New ...,The Washington Post and the self-anointed fa...,seem to have propped up this pizzeria conspir...,but for the moment,it seems to have collapsed under the weight o...,US_News,"December 28, 2016"
23104,x trafficking including at least two such ex...,Democratic Congressman Barney Frank,decided not to seek re-election. While much o...,there was virtually no mention of his involve...,it was discovered that Frank s then boyfriend...,Barney Frank was fully aware of the operation...,Stephen Gobie,whom Frank had once hired as a male prostitute,was running a male-brothel out of the Congres...,but he did use the power of his office to fi...,...,is that it would be very easy for an agent pr...,and it s certain that the powers that be will...,it s important to separate the fallout from t...,as those in mainstream media such as The New ...,The Washington Post and the self-anointed fa...,seem to have propped up this pizzeria conspir...,but for the moment,it seems to have collapsed under the weight o...,Middle-east,"December 28, 2016"

In [25]:
fake = fake.dropna()

In [26]:
fake

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
22313,x trafficking including at least two such ex...,Democratic Congressman Barney Frank,decided not to seek re-election. While much o...,there was virtually no mention of his involve...,it was discovered that Frank s then boyfriend...,Barney Frank was fully aware of the operation...,Stephen Gobie,whom Frank had once hired as a male prostitute,was running a male-brothel out of the Congres...,but he did use the power of his office to fi...,...,is that it would be very easy for an agent pr...,and it s certain that the powers that be will...,it s important to separate the fallout from t...,as those in mainstream media such as The New ...,The Washington Post and the self-anointed fa...,seem to have propped up this pizzeria conspir...,but for the moment,it seems to have collapsed under the weight o...,US_News,"December 28, 2016"
23104,x trafficking including at least two such ex...,Democratic Congressman Barney Frank,decided not to seek re-election. While much o...,there was virtually no mention of his involve...,it was discovered that Frank s then boyfriend...,Barney Frank was fully aware of the operation...,Stephen Gobie,whom Frank had once hired as a male prostitute,was running a male-brothel out of the Congres...,but he did use the power of his office to fi...,...,is that it would be very easy for an agent pr...,and it s certain that the powers that be will...,it s important to separate the fallout from t...,as those in mainstream media such as The New ...,The Washington Post and the self-anointed fa...,seem to have propped up this pizzeria conspir...,but for the moment,it seems to have collapsed under the weight o...,Middle-east,"December 28, 2016"

In [35]:
true = pd.read_csv('D:\IBM\\True.csv')

In [36]:
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [37]:
true.head

<bound method NDFrame.head of                                                    title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text       subject  \
0      WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1      WASHINGTON (Reuters) - Transgender people will...  politicsNews
2      WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3      WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
...                                                  ...           ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...     worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...     worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...     worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...     worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     worldnews

                     date
0      December 31, 2017
1      December 29, 2017
2      December 31, 2017
3      December 30, 2017
4      December 29, 2017
...                   ...
21412    August 22, 2017
21413    August 22, 2017
21414    August 22, 2017
21415    August 22, 2017
21416    August 22, 2017

[21417 rows x 4 columns]>

In [38]:
true.tail

<bound method NDFrame.tail of                                                    title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text       subject  \
0      WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1      WASHINGTON (Reuters) - Transgender people will...  politicsNews
2      WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3      WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
...                                                  ...           ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...     worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...     worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...     worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...     worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     worldnews

                     date
0      December 31, 2017
1      December 29, 2017
2      December 31, 2017
3      December 30, 2017
4      December 29, 2017
...                   ...
21412    August 22, 2017
21413    August 22, 2017
21414    August 22, 2017
21415    August 22, 2017
21416    August 22, 2017

[21417 rows x 4 columns]>

In [39]:
true.isnull()

       title   text  subject   date
0      False  False    False  False
1      False  False    False  False
2      False  False    False  False
3      False  False    False  False
4      False  False    False  False
...      ...    ...      ...    ...
21412  False  False    False  False
21413  False  False    False  False
21414  False  False    False  False
21415  False  False    False  False
21416  False  False    False  False

[21417 rows x 4 columns]

In [40]:
true.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [41]:
true.dropna()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [42]:
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"